[user]
    name = sugyan
    email = sugi1982@gmail.com
[color]
    ui = auto
[alias]
    ci = commit
    st = status
    co = checkout
    tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
[core]
    pager = "LESS=-R less"
    excludesfile = ~/.gitignore
