[user]
	name = sugyan
	email = sugi1982@gmail.com
[color]
	ui = auto
[alias]
	ci = commit
	st = status
	co = checkout
	tr = log --graph --pretty='format:%C(yellow)%h%Creset %C(magenta)%cd%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset' --date=iso
[core]
	pager = "LESS=-R less"
	excludesfile = ~/.gitignore
[push]
	default = simple
[ghq]
	root = ~/.ghq
[pull]
	rebase = false
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	colorMoved = plain
	renames = true
