"*":
  core:
    themes: [
      "atom-dark-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    fontFamily: "Bitstream Vera Sans Mono"
    fontSize: 13
    preferredLineLength: 120
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "1d182fd3-7345-4aa8-3377-126ecbb9816b"
  "gometalinter-linter":
    args: [
      "--vendor"
      "--disable-all"
      "--enable=vet"
      "--enable=golint"
      "--enable=ineffassign"
      "--enable=goconst"
      "--tests"
      "--json"
      "."
    ]
  linter:
    errorPanelHeight: 22
  welcome:
    showOnStartup: false
